*{
    font-family: "Verdana", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Navigation Bar */

.nav-bar{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
    position: fixed;
    top: 0;
    width: 100%;
    padding: .5rem 2rem;
}
.nav-logo{
    color: #335576;
}
.nav-list{
    display: flex;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-item--active{
    border-bottom: 2px solid #DB7A4E;
    padding-bottom: .3rem;
}

/* footer */

.footer{
    background-color: #FEFAF5;
    color: #335576;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 2rem 3rem 10rem;
    margin: 0;
}
.bottom-title{
    font-weight: 600;
    padding-bottom: 1.5rem;
}
.bottom-subtitle{
    color: #DB7A4E;
    font-size: 0.7rem;
    white-space: nowrap;
    padding-bottom: 1rem;
}
.container{
    margin: 0rem;
    width: 20%;
    box-sizing: content-box;
}
.container-bigger{
    width: 40%;
    padding-left: 1rem;
}
.hours{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.logos{
    display: flex;
    gap: 1.5rem;
}
.info{
    font-size: .9rem;
}

img{
    height: 1.5rem;
}
a{
    text-decoration: none;
    color: #5A5A5A;
    font-weight: 100;
}